<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <header>
      <nav class="Mainpage">
        <ul>
          {% if user.is_authenticated %} Hello, {{ user.username }}
          <li><a href="{% url 'home' %}">HOME</a></li>
          <li><a href="{% url 'account_list' %}">Account List</a></li>
          <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
          <li><a href="{% url 'category_list' %}">Category List</a></li>
          <li><a href="{% url 'create_category' %}">Create Category</a></li>
          <li><a href="{% url 'create_account' %}">Create Account</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>

          {% else %}
          <li><a href="{% url 'signup' %}">Sign up</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <h1>My Receipts</h1>
      <table>
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
          </tr>
        </thead>

        <tbody>
          {% for info in home %}
          <tr>
            <td>{{ info.vendor }}</td>
            <td>{{ info.total }}</td>
            <td>{{ info.tax }}</td>
            <td>{{ info.date|date:"m/d/y" }}</td>
            <td>{{ info.category.name }}</td>
            <td>{{ info.account.name }}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
